<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Logo_ITESO_normal.jpg" width="150px" height="90px" />

## Microestructuras y sistemas de trading

### Laboratorio 4. Análsis Fundamental.

>##### Andrés García
>##### Juan López
>##### Antonio Tirado
>##### Oscar Villa

In [5]:
import pandas as pd
import numpy as np

In [6]:
calendario = 'calendario_economico.csv'
cal=pd.read_csv(calendario, header=0, sep=',', index_col=None, parse_dates=False, skip_blank_lines=True)
cal['timestamp'] = pd.to_datetime(cal['timestamp'])
cal['timestamp'] = cal['timestamp'].dt.tz_localize('UTC')

In [ ]:
precios = 'precios_historicos_eurusd.csv'
precios=pd.read_csv(precios, header=0, sep=',', index_col=None, parse_dates=False, skip_blank_lines=True)
precios['timestamp'] = pd.to_datetime(precios['timestamp'])
precios['timestamp'] = precios['timestamp'].dt.tz_localize('UTC')

In [ ]:
precios19 = 'precios_historicos_eurusd.csv'
p19=pd.read_csv(precios19, header=0, sep=',', index_col=None, parse_dates=False, skip_blank_lines=True)
p19['timestamp'] = pd.to_datetime(p19['timestamp'])
p19['timestamp'] = p19['timestamp'].dt.tz_localize('UTC')

In [7]:
tb = cal[(cal['Name'] == 'Trade Balance') & (cal['Currency'] == 'USD')].reset_index(drop=True).dropna(subset=['actual']).fillna(method='ffill',axis=1)

In [8]:
emp = cal[(cal['Name']=='ADP Employment Change')].reset_index(drop=True).dropna(subset=['actual']).fillna(method='ffill',axis=1)ADP_EMP = cal[(cal['Name']=='ADP Employment Change')].reset_index(drop=True)

In [9]:
condiciones = [(tb.actual>=tb.consensus) & (tb.consensus>=tb.previous),(tb.actual>=tb.consensus) & (tb.consensus<tb.previous)
              ,(tb.actual<tb.consensus)&(tb.consensus>=tb.previous),(tb.actual<tb.consensus)&(tb.consensus<tb.previous)]
elecciones =['a','b','c','d']
clasification=np.select(condiciones,elecciones)
tb['clasificacion']=clasification

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-13 13:30:00+00:00,USD,Trade Balance,United States,3,-41.58,-56.69,-51.4
1,2009-02-11 13:30:00+00:00,USD,Trade Balance,United States,3,-39.90,-41.58,-35.9
2,2009-03-13 12:30:00+00:00,USD,Trade Balance,United States,3,-36.20,-39.90,-38.0
3,2009-04-09 12:30:00+00:00,USD,Trade Balance,United States,3,-26.13,-36.20,-36.7
4,2009-05-12 12:30:00+00:00,USD,Trade Balance,United States,3,-28.53,-26.13,-28.9

In [ ]:
condiciones = [(emp.actual>=emp.consensus) & (emp.consensus>=emp.previous),(emp.actual>=emp.consensus) & (emp.consensus<emp.previous)
              ,(emp.actual<emp.consensus)&(emp.consensus>=emp.previous),(emp.actual<emp.consensus)&(emp.consensus<emp.previous)]
elecciones =['a','b','c','d']
clasification=np.select(condiciones,elecciones)
emp['clasificacion']=clasification

In [ ]:
tb=tb[tb['timestamp'].isin(list(precios['timestamp']))]
tb.head()

In [ ]:
emp=emp[emp['timestamp'].isin(list(precios['timestamp']))]
emp.head()

In [ ]:
ventanas_tb={}
for i in range(len(tb)):
    ind=int(precios[precios['timestamp']==tb.iloc[i,0]].index.values.astype(int))
    ventana = precios.iloc[ind-6:ind+7].reset_index(drop=True)
    ventanas_tb[tb.iloc[i,0]]=ventana

In [ ]:
ventanas_emp={}
for i in range(len(emp)):
    ind=int(precios[precios['timestamp']==emp.iloc[i,0]].index.values.astype(int))
    ventana = precios.iloc[ind-6:ind+7].reset_index(drop=True)
    ventanas_emp[emp.iloc[i,0]]=ventana

In [ ]:
ventanas_tb[tb.iloc[0,0]]