<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Logo_ITESO_normal.jpg" width="150px" height="90px" />

## Microestructuras y sistemas de trading

### Laboratorio 4. Análsis Fundamental.

>##### Andrés García
>##### Juan López
>##### Antonio Tirado
>##### Oscar Villa

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
calendario = 'calendario_economico.csv'
cal=pd.read_csv(calendario, header=0, sep=',', index_col=None, parse_dates=False, skip_blank_lines=True)
cal['timestamp'] = pd.to_datetime(cal['timestamp'])
cal['timestamp'] = cal['timestamp'].dt.tz_localize('UTC')

In [7]:
tb = cal[(cal['Name'] == 'Trade Balance') & (cal['Currency'] == 'USD')].reset_index(drop=True)

In [8]:
ADP_EMP = cal[(cal['Name']=='ADP Employment Change')].reset_index(drop=True)

In [9]:
tb.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-13 13:30:00+00:00,USD,Trade Balance,United States,3,-41.58,-56.69,-51.4
1,2009-02-11 13:30:00+00:00,USD,Trade Balance,United States,3,-39.90,-41.58,-35.9
2,2009-03-13 12:30:00+00:00,USD,Trade Balance,United States,3,-36.20,-39.90,-38.0
3,2009-04-09 12:30:00+00:00,USD,Trade Balance,United States,3,-26.13,-36.20,-36.7
4,2009-05-12 12:30:00+00:00,USD,Trade Balance,United States,3,-28.53,-26.13,-28.9